<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Applitools Hackathon Suite">
    <listeners>
        <listener class-name="com.github.wasiqb.coteafs.listeners.ConfigListener"/>
        <listener class-name="com.github.wasiqb.coteafs.listeners.SuiteListener"/>
        <listener class-name="com.github.wasiqb.coteafs.listeners.TestListener"/>
        <listener class-name="com.github.wasiqb.coteafs.listeners.ExecutionListener"/>
        <listener class-name="com.github.wasiqb.coteafs.listeners.DataProviderListener"/>
        <listener class-name="com.github.wasiqb.coteafs.listeners.AnnotationTransformer"/>
        <listener class-name="com.github.wasiqb.coteafs.listeners.SuiteResultReporter"/>
    </listeners>
    <test name="Applitools Hackathon Test - V1">
        <groups>
            <run>
                <include name="app.v1.url"/>
            </run>
        </groups>
        <classes>
            <!--            <class name="com.applitools.TraditionalTests"/>-->
            <class name="com.applitools.VisualAITests"/>
        </classes>
    </test>
    <test name="Applitools Hackathon Test - V2">
        <groups>
            <run>
                <include name="app.v2.url"/>
            </run>
        </groups>
        <classes>
            <!--            <class name="com.applitools.TraditionalTests"/>-->
            <class name="com.applitools.VisualAITests"/>
        </classes>
    </test>
    <test name="Applitools Hackathon Test - V1 with Ad">
        <groups>
            <run>
                <include name="app.v1.ad"/>
            </run>
        </groups>
        <classes>
            <!--            <class name="com.applitools.TraditionalTests"/>-->
            <class name="com.applitools.VisualAITests"/>
        </classes>
    </test>
    <test name="Applitools Hackathon Test - V2 with Ad">
        <groups>
            <run>
                <include name="app.v2.ad"/>
            </run>
        </groups>
        <classes>
            <!--            <class name="com.applitools.TraditionalTests"/>-->
            <class name="com.applitools.VisualAITests"/>
        </classes>
    </test>
</suite>
